{% extends "layout.html" %}
{% block body %}
<h1>Register</h1>
<form action="/register" method="post">
  <input name="name" type="text" autocomplete="off" autofocus placeholder="Name">
  <select name="sport">
    <option disabled selected value="">Sport</option>
    {% for sport in sports %}
    <option value="{{sport}}">{{sport}}</option>
    {% endfor %}
  </select>
<!--  {% for sport in sports %}-->
<!--  <input name="sport" type="radio" value="{{sport}}">{{sport}}-->
<!--  {% endfor %}-->
  <input type="submit" value="Register">
</form>
{%endblock%}

